.editOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popUp {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.radio-type {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px;
}

.radio-choice > label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio-choice > label > input {
    margin: 5px;
}