#login-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-block: 2rem;
  height: 100vh;
}

#login-page h1 {
  text-align: center;
  padding-block: 1rem;
}

#login-page .login-wrapper {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
}

#login-page .login-form {
  width: 400px;
}

#login-page .login-form input,
#login-page .login-form button {
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 20px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

#login-page .login-form .errors {
  margin: 10px 0;
}

#login-page .login-form .error-message {
  color: #dc3545;
  padding-bottom: 0.8rem;
}

#login-page .login-form button {
  background-color: #3182ce;
  color: whitesmoke;
  padding: 0.8rem;
  cursor: pointer;
}

#login-page .login-form button:disabled {
  background-color: #3182ce;
  cursor: not-allowed;
  opacity: 0.7;
}
