.student-module-activities-card {
  background: white;         
  border: 1px solid #e4e2e2;             
  border-radius: 8px;                 
  padding: 1.5rem;                    
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  width: 100%;
  margin: 1rem auto;                  
}

.student-module-activities-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}

.student-module-activities-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}
