.document-list {
  margin-top: 0.5rem;
  border: 0.5px dotted #007bff;
  background: none;
  color: #007bff;
  width: 230px;
}

.document-list ul {
list-style: none;
padding: 0;
}

.document-list ul .doc-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  color: #007bff;
}

.document-list ul .doc-list-item:hover {
  background: #007bff20;
}
